* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
}
@font-face {
	font-family: SortsMillGoudy;
	src: url(../fonts/SortsMillGoudy-Regular.ttf);
}
body {
	width: 100vw;
	height: 100vh;
	font-family: SortsMillGoudy;
	background: url(../img/bg-game.png);
	background-size: cover;
}
ul,
ol {
	list-style-type: none;
	line-height: 1.3;
}
ul li,
ol li {
	margin-bottom: 5px;
	font-size: 18px;
}
.screen,
.score-value span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.screen-start,
.screen-ranking {
	width: 70vw;
	height: 60vh;
}
.screen {
	display: none;
}
.screen.show {
	display: block;
}
.screen-ranking {
	width: 50vw;
}
.screen-game {
	width: 100vw;
	height: 100vh;
	background: url(../img/bg-game.png);
	background-size: cover;
}
.screen-game.show {
	background-image: unset;
}
.panel {
	width: 100%;
	padding: 8vh 5vw;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
table {
	overflow-y: auto;
	max-height: 27vh;
	display: block;
	margin-bottom: 2vh;
}
tr > th:nth-child(1),
tr > td:nth-child(1) {
	width: 10%;
	text-align: left;
}
tr > th:nth-child(2),
tr > td:nth-child(2) {
	width: 200px;
	text-align: left;
}
tr > td:nth-child(3) {
	width: 200px;
	text-align: center;
}
td,th {
	line-height: 2;
}
h1 {
	margin-bottom: 30px;
	font-size: 40px;
}
form {
	margin-top: 20px;
}

input[type='text'] {
	min-width: 200px;
}

input[type='text'],
input[type='submit'],
button {
	padding: 9px;
}

input[type='submit'],
button {
	background: #778d94;
	color: #fff;
	border: none;
}

.game-panel {
	position: absolute;
	color: #fff;
}
.game-panel-skills {
	right: 30px;
	bottom: 30px;
	z-index: 5;
}
.game-panel-skills .disable {
	opacity: .6;
	cursor: default;
}
.game-panel-skills img {
	cursor: pointer;
}
.game-panel-user {
	left: 30px;
	top: 30px;
	z-index: 5;
}
.game-panel-scores {
	bottom: 30px;
	left: 30px;
	z-index: 5;
}
.game-panel-games {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.user-info {
	text-transform: uppercase;
	margin-bottom: 7px;
}
.panel-xp,
.panel-mp {
	height: 23px;
	background: white;
	margin-bottom: 4px;
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
	position: relative;
}
.panel-xp {
	width: 200px;
}
.panel-mp {
	width: 176px;
}
.score-value {
	width: 100%;
	height: 100%;
}
.panel-xp .score-value {
	background: #9f000a;
}
.panel-mp .score-value {
	background: #004bb8;
}
.score-value span {
	padding-right: 13px;
}
.game-panel-skills img {
	margin-left: -1px;
}
.show {
	z-index: 300;
}

.game-wd {
	width: 100%;
	height: 100%;
}
.game-wd canvas {
	width: 100%;
	height: 100%;
}

.knight {
	width: 436px;
	height: 380px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.knight[data-animation] {
	background-position: left bottom;

}
.knight[data-animation="idle"] {
	background: url('/animation/knight/gifs/idle.gif') no-repeat;
	background-size: auto 100%;
}
.knight[data-animation="attack1"] {
	background: url('/animation/knight/gifs/attack1_loop.gif') no-repeat;
	background-size: auto 100%;
}
.knight[data-animation="block"] {
	background: url('/animation/knight/gifs/block.gif') no-repeat;
	background-size: auto 100%;
}

.block-skill {
	width: 50px;
	height: 100px;
	background: red;
	position: absolute;
	left: 0;
	bottom: 0;
}

#game-canvas {
	position: absolute;
	left: 0;
	top: 0;
}
